<%console.log("INDEX PAGE IS HERE!")%>
<%- include('../partials/header') %>

<div class="header">
    <h1> All Themes </h1>
</div>

<div class="row">
    <div class="col" style="padding: 25px">
    <table class="table">
        <thead>
            <tr >
                <th class="tableHeader">User</th>
                <th class="tableHeader"> Theme </th>
                <th class="tableHeader"> Description </th>
                <th class="tableHeader">  </th>
                <th class="tableHeader">  </th>
            </tr>
        </thead>
        <tbody>
            <% themes.forEach(function(t) { %>
            <tr>
                <td class="theme-user"><img alt="avatar" src="<%= t.userAvatar %>" referrerpolicy="no-referrer" >&nbsp;&nbsp;<%= t.userName %></td>
                <td> <%= t.theme %> </td>
                <td> <%= t.description %> </td>

                <td>
                    <a href="/themes/<%= t._id %>">DETAILS</a>
                </td>
                <td> 
                    <% if (user?._id.equals(t.user)) { %>
                    <form action="/themes/<%= t._id %>?_method=DELETE" class="delete-form" method="POST">
                    <button class="delete-button" type="submit">X</button>
                    </form>
                    <% } %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</div>

<%- include('../partials/footer') %>