<%- include('../partials/header') %>

<div class="header">
    <h1>Theme Details</h1><br>
</div>


<ul>
    <li>Theme: <%= themes.theme %></li>
    <li>Description: <%= themes.description %></li>
</ul>
<br>
<label> Select Style :   
    <select name="styleset">
        <% stylesets.forEach((styleset, index) => { %>
        <option value="<%=styleset._id%>"> Style ID # <%=index +1%></option>

    <% }) %>
</select>
</label>

<form action="/themes/<%=themes._id%>/stylesets" method="POST">
<button type="submit">Apply Style</button>
</form> <br><br><br>

<form action="/themes/<%=themes._id%>/stylesets" class="generate-style" method="POST">
<button class="generate-button" type="submit">Generate Style</button>
</form>

<table>
    <thead>
    <tr>
        <td>Style ID #</td>
        <td>Font Color</td>
        <td>Google Font Family</td>
        <td>Google Font Link</td>
        <td>Background Color</td>
        <td> </td>
        <td> </td>
    </tr>
    </thead>

    <tbody>
        <% stylesets.forEach((styleset, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= styleset.fontColor %></td>
                <td><%= styleset.googleFontFamily %></td>
                <td><a href="<%= styleset.googleFontHref %>" target="_blank"><%= styleset.googleFontHref %></a></td>
                <td><%= styleset.mainBackgroundColor %></td>
                <td><button class="update-button" type="submit"> 🔄 </button></td>
                <td>
                    <form action="/themes/<%= themes._id %>?_method=DELETE" method="POST"></form>
                    <button class="delete-button" type="submit">X</button>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>


<%- include('../partials/footer') %>