<%- include('../partials/header') %>
<style>
    /* if there is no currentStyle apply defaylt style, otherwise apply currentStyle */
    /* body {
        background-color: themes.defaultStyle.fontSize !important;
    } */
</style>

<div class="header">
    <h1>Theme Details</h1><br>
</div>


<ul class="description">
    <li>Theme: <%= themes.theme %></li>
    <li>Description: <%= themes.description %></li>
</ul>
<br>
<div class="row">
    <div class="col" style="padding: 25px">
<% stylesets.forEach((styleset, index) => { %>
<form action="/stylesets/<%=styleset._id%>?_method=PUT" method="POST">
    <% }) %>
    <label> Select Style :   
        <select name="styleset">
            <% stylesets.forEach((styleset, index) => { %>
            <option value="<%=styleset._id%>"> Style ID # <%=index +1%></option>
        <% }) %>
    </select>
    </label> ▶️
<button class="apply-button" type="submit">Apply Style</button>
</form> <br>

<hr>

<% if (user) { %>
<form action="/themes/<%=themes._id%>/stylesets" class="generate-style" method="POST">
<button class="generate-button" type="submit">Generate Style</button>

</form><br>
<% } %>


<table class="table">
    <thead>
    <tr>
        <th class="tableHeader">User</th>
        <th class="tableHeader">Style ID #</th>
        <th class="tableHeader">Font Color</th>
        <th class="tableHeader">Google Font Family</th>
        <!-- <th class="tableHeader">Google Font Link</th> -->
        <th class="tableHeader">Background Color</th>
        <th class="tableHeader"> </th>
        <th class="tableHeader"> </th>
    </tr>
    </thead>

    <tbody>
        <% stylesets.forEach((styleset, index) => { %>
            <tr>
                <td class="review-user"><img alt="avatar" src="<%= styleset.userAvatar %>" referrerpolicy="no-referrer" >&nbsp;&nbsp;<%= styleset.userName %></td>
                <td><%= index + 1 %></td>
                <td><%= styleset.fontColor %></td>
                <td>
                    <%= styleset.googleFontFamily %>&nbsp;
                     <a href="<%= styleset.googleFontHref %>" target="_blank">
                        <img src="https://i.imgur.com/9lHvVix.png" alt="Link" width="20" height="20">
                    </a> 
                </td>
                <td><%= styleset.mainBackgroundColor %></td>
                <td>
                    <form action="/themes/<%=themes._id%>/stylesets/<%=styleset._id%>?_method=PUT" method="POST">
                    <button class="update-button" type="submit" value="<%= styleset._id%>"> 🔄 </button></td>
                    </form>
                <td>
                    <form action="/themes/<%=themes._id%>/stylesets/<%=styleset._id%>?_method=DELETE" method="POST">
                    <button class="delete-button" type="submit">X</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
</div>
</div>

<%- include('../partials/footer') %>