<%- include('../partials/header') %>

<% if (themes.currentStyle) { %>
<link href=<%- themes.currentStyle.googleFontHref %> rel="stylesheet">
<% } %>

<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

<style>

    <% const defaultTheme = JSON.parse(themes.defaultStyle) %>
    body {
        <% if (themes.currentStyle) { %>
         background-color: <%= themes.currentStyle.mainBackgroundColor %> !important;
         color: <%= themes.currentStyle.fontColor %> !important;
         font-family: <%- themes.currentStyle.googleFontFamily %> !important;
         .menu {
                background-color: <%= themes.currentStyle.menuBackgroundColor %> !important;
        }
        .tableHeader {
                background-color: <%= themes.currentStyle.tableHeaderColor %> !important;
        }
        .apply-button, .generate-button {
            background-color: <%= themes.currentStyle.buttonColor %> !important;
        }
        <% } else { %>
         background-color: <%= defaultTheme.mainbBackgroundColor %> !important;
         color: <%= defaultTheme.fontColor %> !important;
         font-family: <%- defaultTheme.googleFont %> !important;
        .menu {
                background-color: <%= defaultTheme.menuBackgroundColor %> !important;
        }
        .tableHeader {
                background-color: <%= defaultTheme.tableHeaderColor %> !important;
        }
        .apply-button, .generate-button {
            background-color: <%= defaultTheme.buttonColor %> !important;
        }
        /* .generate-button {
            background-color: <%= defaultTheme.generateButtonColor %> !important;
        } */
        <% } %>
    } 

</style>

<div class="header">
    <h1>Theme Details</h1><br>
</div>

<ul class="description">
    <li>Theme: <%= themes.theme %></li>
    <li>Description: <%= themes.description %></li>
</ul>
<br>
<div class="row">
    <div class="col" style="padding: 25px">
<form action="/themes/<%=themes._id%>?_method=PUT" method="POST">
    <label> Select Style :   
        <select name="stylesetId">
            <% stylesets.forEach((styleset, index) => { %>
            <% if (themes.currentStyle && themes.currentStyle.equals(styleset)) { %>
                <option value="<%=themes.currentStyle._id%>" selected> Style ID # <%=index +1%></option>
            <% } else { %>
            <option value="<%=styleset._id%>"> Style ID # <%=index +1%></option>
            <% } %>
            <% }) %>
    </select>
    </label> ▶️
<button class="apply-button" type="submit">Apply Style</button>
</form> <br>

<hr>

<% if (user) { %>
<form action="/themes/<%=themes._id%>/stylesets" class="generate-style" method="POST">
<button class="generate-button" type="submit">Generate Style</button>
</form><br>

<!-- Loading GIF  -->
<div class="loading" style="display: none;">
</div>
<script>
    document.querySelector('.generate-button').addEventListener('click', function() {
        document.querySelector('.loading').style.display = 'block';
    });
</script>
<% } %>


<table class="table">
    <thead>
    <tr>
        <th class="tableHeader"></th>
        <th class="tableHeader">User</th>
        <th class="tableHeader">Style ID #</th>
        <th class="tableHeader">Font Color</th>
        <th class="tableHeader">Google Font Family</th>
        <!-- <th class="tableHeader">Google Font Link</th> -->
        <th class="tableHeader">Background Color</th>
        <th class="tableHeader">Navigation Color</th>
        <th class="tableHeader">Table Header Color</th>
        <th class="tableHeader">Button Color</th>
        <th class="tableHeader"> </th>
        <th class="tableHeader"> </th>
    </tr>
    </thead>

    <tbody>
        <!-- Bring default styleset to the top of the table -->
        <% let indexI = -1 %>
        <% let defaultStylesetIndex = -1 %>
        <% stylesets.forEach((styleset)=>{ %>
            <% indexI++ %>
            <% styleset.styleID = indexI+1 %>
            <% if (themes.currentStyle && themes.currentStyle.equals(styleset)) { %>
                <% defaultStylesetIndex = indexI %>
                <% themes.currentStyle.styleID = indexI + 1 %>
                <% } %>
        <% }) %>
        <% if (defaultStylesetIndex !== -1) { %>
            <%stylesets.splice(defaultStylesetIndex, 1);%>
            <%stylesets.unshift(themes.currentStyle);%>
         <%}%>

        <% stylesets.forEach((styleset, index) => { %>
            <tr>
                <% if (themes.currentStyle && themes.currentStyle.equals(styleset)) { %>
                    <td>Default Style</td>
                <% } else {%>
                    <td></td>
                <% } %>
                <td class="styleset-user"><img alt="avatar" src="<%= styleset.userAvatar %>" referrerpolicy="no-referrer" >&nbsp;&nbsp;<%= styleset.userName %></td>
                <td><%= styleset.styleID %></td>
                <td><%= styleset.fontColor %></td>
                <td id="parentElToCreateTempInput">
                    <span><%= styleset.googleFontFamily %>&nbsp;</span>
                    <img id="copyIcon<%=index+1%>" class="hover-effect" src="https://i.imgur.com/9lHvVix.png" alt="Link" width="20" height="20">
                    <script>
                        const copyIcon<%=index+1%> = document.getElementById("copyIcon<%=index+1%>")
                        copyIcon<%=index+1%>.addEventListener("click", function() {
                        const tempInput = document.createElement("input")
                        const parentElToCreateTempInput = document.getElementById("parentElToCreateTempInput")
                        tempInput.value = "<%=styleset.googleFontHref%>"
                        parentElToCreateTempInput.appendChild(tempInput) 
                        tempInput.select(); 
                        tempInput.setSelectionRange(0, 99999);
                        navigator.clipboard.writeText(tempInput.value);
                        parentElToCreateTempInput.removeChild(tempInput);
                        });
                    </script>
                </td>
                <td><%= styleset.mainBackgroundColor %></td>
                <td><%= styleset.menuBackgroundColor %></td>
                <td><%= styleset.tableHeaderColor %></td>
                <td><%= styleset.buttonColor %></td>
                
                <td>
                    <% if (user?._id.equals(styleset.user)) { %>
                    <form action="/themes/<%=themes._id%>/stylesets/<%=styleset._id%>?_method=PUT" method="POST">
                    <button id="hover-effect-update" class="update-button" type="submit" value="<%= styleset._id %>"> ↺ </button></td>
                    </form>
                    <% } %>
                <td>
                    <% if (user?._id.equals(styleset.user)) { %>
                    <form action="/themes/<%=themes._id%>/stylesets/<%=styleset._id%>?_method=DELETE" method="POST">
                    <button id="hover-effect-delete" class="delete-button" type="submit">X</button>
                    </form>
                    <% } %>
                </td>

            </tr>
        <% }) %>
    </tbody>
</table>
</div>
</div>

<%- include('../partials/footer') %>