<%- include('../partials/header') %>

<div class="header">
    <h1>Theme Details</h1><br>
</div>


<ul>
    <li>Theme: <%= themes.theme %></li>
    <li>Description: <%= themes.description %></li>
    <li>Font Color: <%= openAIResponse.fontColor %></li>
    <li>Google Font Href: <a href="<%= openAIResponse.googleFontHref %>" target="_blank"><%= openAIResponse.googleFontHref %></a></li>
    <li>Main Background Color: <%= openAIResponse.backgroundColor %></li>
</ul>
<br>
<label> Select Style : 
    <select name="styleset">
        <option value="">Style ID #1</option>
        <option value="">Style ID #2</option>
        <option value="">Style ID #3</option>
    </select>
</label>

<button type="submit">Apply Style</button> <br><br><br>


<button class="generate-button" type="submit">Generate Style</button>

<table>
    <thead>
    <tr>
        <td>Font Color</td>
        <td>Google Font Family</td>
        <td>Background Color</td>
        <td> </td>
        <td> </td>
    </tr>
    </thead>
    <tr>
        <td><%= openAIResponse.fontColor %></td>
        <td><a href="<%= openAIResponse.googleFontHref %>" target="_blank"><%= openAIResponse.googleFontHref %></a></td>
        <td><%= openAIResponse.backgroundColor %></td>
        <td><button class="update-button" type="submit"> 🔄 </button></td>
        <td> 
             <button class="delete-button" type="submit">X</button>
            </form>
        </td>
    </tr>
</table>


<%- include('../partials/footer') %>